<!DOCTYPE html>
<html>
<head>
    <title>College Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>College Chatbot</h1>
        <div id="chat-container">
            <div class="message chatbot-message">
                <div class="message-content">
                    Hi! I'm a chatbot. How can I assist you today?
                </div>
            </div>
        </div>
        <form id="user-input-form">
            <input type="text" id="user-input" placeholder="Type your message..." autofocus autocomplete="off">
            <button type="submit" class="send-button">Send</button>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault();
                var user_input = $('#user-input').val();
                if (user_input.trim() !== '') {
                    $('#user-input').val('');
                    appendUserMessage(user_input);
                    $.ajax({
                        type: 'POST',
                        url: '/chat',
                        data: { user_input: user_input },
                        success: function(response) {
                            appendChatbotMessage(response);
                        }
                    });
                }
            });

            function appendUserMessage(message) {
                var messageHtml = '<div class="message user-message"><div class="message-content">' + message + '</div></div>';
                $('#chat-container').append(messageHtml);
                scrollChatToBottom();
            }

            function appendChatbotMessage(message) {
                // Convert URLs to clickable links
                message = linkify(message);
                var messageHtml = '<div class="message chatbot-message"><div class="message-content">' + message + '</div></div>';
                $('#chat-container').append(messageHtml);
                scrollChatToBottom();
            }

            function scrollChatToBottom() {
                $('#chat-container').scrollTop($('#chat-container')[0].scrollHeight);
            }
            
            // Function to convert URLs in text to clickable links
            function linkify(text) {
                var urlRegex = /(https?:\/\/[^\s]+)/g;
                return text.replace(urlRegex, function(url) {
                    return '<a href="' + url + '" target="_blank">' + url + '</a>';
                });
            }
        });
    </script>
</body>
</html>
